img{
	width: 100%;
}
nav{
	transition: background 2s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #87d37c;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #87d37c;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.carousel-caption{
	bottom: 50%;
	transform:translate(0,50%);
}
.carousel-caption h1{
	font-size: 6rem;
	border: 3px solid #fff;
	padding: 20px 40px;
	display: inline-block;
}
.carousel-caption h1 span{
	color: #87d37c;
}
.carousel{
	position: relative;
	z-index: 0;
}
.dark{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
	display: block;
	z-index: 1;
}
#about{
	padding: 90px 0px;
}
#about>.container>.card,#service>.container>.card,#protfolio>.container>.card,#price>.container>.card{
	background: transparent;
	padding: 20px 100px;
}
#about .card:hover i,#about .card:hover h4{
	color: #87d37c;
}
#service{
	background: #e1e1e1;
	padding: 75px 0px;
}
.img-body{
	position: relative;
	width: 100%;
	overflow: hidden;
}
#service .img-body:hover .hover-link{
	top: 0;
}
#service img{
	width: 100%;
}
.hover-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top:100%;
	left: 0;
	background: rgba(0,0,0,0.3);
	transition:all 0.5s;
	color: #fff;
}
.hover-link span{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
#protfolio{
	padding: 140px 0px;
	background: #fdfafa;
}
.btn-secondary {
    background-color: #010101; 
    border-color: #010101; 
}
.btn-secondary:hover {
    background-color: #87d37c;
    border-color: #87d37c;
}
.btn {
    padding: 0.6rem 2.4rem;
    border-radius: 0;
}
#protfolio .img-body:hover .hover-link{
	top:0;
	background: rgba(0,0,0,0.8);
}
#protfolio span{
	font-weight: bold;
	font-size: 1.6rem;
	color: #87d37c;
}
#price{
	background: #fdfafa;
	padding: 0px 0px 130px 0px;
}
.container-de{
	width: 70%;
	margin:0 auto;
}
#price .col-lg-3>.card{
	background: rgba(57,57,58,.9);
	width: 95%;
	margin: 0 auto;
}
#price .col-lg-3>.card:hover{
	background: rgba(135,211,124,.9);
}
#price .col-lg-3>.card:hover h1,.col-lg-3>.card:hover .btn-primary{
	color: #87d37c !important;
}
#price .col-lg-3>.card:hover span{
	background: #fff;
}
#price .col-lg-3>.card>.container-de>.btn-primary{
	background: #fff;
	color: #000;
	border:0;
	margin-bottom: 20px;
	font-weight: bold;
}
.list-group-item{background: transparent;}
#price .card-body>span{
	border:5px solid #fff;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	padding: 30px 0px 0 0;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
.card-body>span>h1>span{
	font-size: 25px;
}
#price .col-lg-3>.card>.btn-primary {
    color: #000;
    background-color: #fff;
}
.list-group-item{
	color: #fff;
}
#counter{
	background: url(../images/next_banner.jpg) no-repeat center center;
	padding: 100px 0px;
}
#counter .card{
	background: transparent;
	color: #fff;
	border:1px solid #696464;
}
#counter .card h4{
	font-size: 40px;
}
#contact{
	padding: 110px 0px;
	background: #fdfafa;
}
#contact .container .row .col-lg-3 .card-title{
	font-size:25px;
}
#contact .container .row .col-lg-3 p{
	font-size: 14px;
}
#contact .container .row .col-lg-3:hover .card-title,#contact .container .row .col-lg-3:hover .fa{
	color: #87d37c;
}
#Email{
	background: #f5f5f5;
	padding: 130px 0px;
}
form .btn{
	background: #87d37c;
	color: #fff;
	border:0;
}
form .btn:hover{
	background: #87d37c;
}
#map{
	height: 460px;
}
footer{
	background: #000101;
	padding: 20px 0px;
	color: #fff;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color: #87d37c;
}
